---
title: Brandon Brisbon
---

<!DOCTYPE html>
<!--[if lt IE 7 ]>
<html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>
<html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>
<html class="ie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]>
<html class="ie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html lang="en"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <title>Thoughts & Ramblings</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Brandon Brisbon's Thoughts & Ramblings">
    <meta name="author" content="brandonbrisbon.com">

    <!-- Le styles -->
    <link href='http://fonts.googleapis.com/css?family=Lato:400,300,700,400italic,900' rel='stylesheet' type='text/css'>
    <!--<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">-->
    <link href="/theme/css/bootstrap.css" rel="stylesheet">
    <link href="/theme/css/bootstrap-responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="/theme/css/main.css" type="text/css">

    <script src="//code.jquery.com/jquery-1.10.1.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="shortcut icon" href="/theme/img/favicon.ico">

</head>
<body class="body-container">
<!-- Facebook SDK -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&status=0";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<!-- End Facebook SDK -->

<!-- top sidebar -->
<section class="top-sidebar">
    <!-- container -->
    <div class="container">
        <div class="row">
            <!-- widget -->
            <div class="widget cats-widget span4">
                <h3>Categories</h3>
                <div class="widget-content">
                    <ul>
                        <li><a href="#">Technology</a><span>37</span></li>
                        <li><a href="#">Web Design</a><span>49</span></li>
                        <li><a href="#">Miscellaneous</a><span>16</span></li>
                        <li><a href="#">General / Off Topic</a><span>52</span></li>
                    </ul>
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget -->
            <!-- widget -->
            <div class="widget span4">
                <h3>Twitter</h3>
                <div class="widget-content">
                    <div class="twitter-container">
                        <div class="tweet"><p>The State of <span class="custom">#WordPress</span> Themes: 87% of all
                            WordPress theme shops sell themes on Themeforest <a href="#" class="custom">http://supportdash.com/wordpress</a>
                        </p></div>
                        <div class="tweet"><p>What Are The Most Inspiring Markepplace Moments Of ALl Time <a href="#"
                                                                                                             class="custom">http://enva.to/1vgh5d</a>
                        </p></div>
                        <div class="tweet">
                            <p>Our server maintenance is now done, so Envato Support should be working as normal now. If
                                you see any problems please tweet <span class="custom">@envato_support</span></p>
                        </div>
                    </div>
                    <!-- end twitter container -->
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget -->
            <!-- widget  -->
            <div class="widget span4">
                <h3>Dribbble</h3>
                <div class="widget-content">
                    <a class="dribbble-image" href="#"><img src="/theme/img/dribbble-image.png" alt="Latest Dribbble Project"></a>
                </div>
                <!-- end widget content -->
            </div>
            <!-- end widget -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</section>
<!-- end top sidebar -->

<!-- header -->
<header id="header" class="header">
    <!-- container -->
    <div class="container">
        <div class="row">
            <!-- span12 -->
            <div class="span12">
                <!-- logo -->
                <div class="logo">
                    <a href="#"><img width="15%" class="img-circle img-responsive" src="/theme/img/logo.png"></a>
                </div>
                <!-- end logo -->

                <!-- top content -->
                <div class="top-content">
                    <!-- menu -->
                    <nav class="menu">
                        <ul>
                            <li class="toggle"><a href="#">Menu</a></li>
                            <li><a href="#">Home</a>
                                <ul>
                                    <li><a href="#"></a></li>
                                </ul>
                            </li>
                            <li><a href="#archives">Archives</a></li>
                            <li><a href="mailto:&#066;&#114;&#097;&#110;&#100;&#111;&#110;&#046;&#066;&#114;&#105;&#115;&#098;&#111;&#110;&#064;&#103;&#109;&#097;&#105;&#108;&#046;&#099;&#111;&#109;">Contact</a></li>
                        </ul>
                    </nav>

                    <!-- search and toggle  -->
                    <div class="search">
                        <!-- toggle button -->
                        <a href="#" class="toggleSidebar"></a>
                    </div>
                    <!-- end search -->
                </div>
                <!-- end top content -->
            </div>
            <!-- end span12 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</header>
<!-- /header -->
{{ content }}
<!-- footer -->
<footer>
    <div class="container">
        <div class="row">
            <!-- copyrights -->
            <div class="copyrights">
                <p class="light-font">The ideas, code, thoughts, & ramblings shared here are mine and mine alone! <br/>
                    Copyright © 2014 <a href="http://brandonbrisbon.com">Brandon Brisbon</a></p>
            </div>
            <!-- end copyrights -->
            <div class="divider-half"></div>
            <!-- social icons -->
            <div class="social-icons">
                <a class="twitter" href="#"></a>
            </div>
            <!-- end social icons -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->

</footer>
<!-- end footer -->

<!-- Javascript App-->
<script data-main="/app/config" src="/vendor/requirejs/require.js"></script>
</body>
</html>
